<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" type="image/png" href="favicon.ico" />
  <title>Test</title>
</head>

<body>
  <div class="blc-bg">
    <header>
      <div class="header-brand">
        <img id="home" alt="udacity" />
      </div>
      <div class="more-links">project 1</div>
    </header>

    <main>
      <section>
        <div class="container">
          <div class="g-form bg-white w-radius w-shadow w-border p-20">
            <form onsubmit="return Client.handleSubmit(event)">
              <div class="form-group">
                <input class="form-control" id="formInputText" type="text" name="input" value="" placeholder="Name" />
              </div>
              <button id="submit_btn" class="btn btn-main" type="submit" name="" value="submit"
                onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">submit</button>
            </form>
            <div class="text-center mt-20">
              <h1 class="result-title"><strong>Form Results:</strong></h1>
              <div id="results">
                <h3>polarity: <span class="blue" id="polarity"></span></h3>
                <h3>Confidence: <span class="blue" id="confidence"></span></h3>
                <h3>Agreement: <span class="blue" id="agreement"></span></h3>
                <h3>Subjectivity: <span class="blue" id="subjectivity"></span></h3>
                <h3>Irony: <span class="blue" id="irony"></span></h3>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <p class="text-center">This is a footer</p>
      </div>
    </footer>
  </div>
  <script>
    // Check that service workers are supported
    if ("serviceWorker" in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener("load", () => {
        navigator.serviceWorker.register("/service-worker.js");
      });
    }
  </script>
</body>

</html>